section.contact-module-main-wrap {
    background-image: url("../assets/contact/1.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    -webkit-transition: all 1s cubic-bezier(0.58, 0, 0.06, 0.98);
    transition: all 1s cubic-bezier(0.58, 0, 0.06, 0.98);

    & .content {
        padding: 100px 50px;

        & h1 {
            color: rgb(247, 247, 247);
            display: block;
            font-family: "GT-Haptik-Medium";
            font-size: 55px;
            font-weight: 400;
            letter-spacing: -2px;
            line-height: 63.25px;

            & span {
                font-family: ui-monospace;
                font-style: italic;
                font-weight: bolder;
                font-size: 70px;
            }
        }

        & p {
            font-family: "GT-Haptik-Medium";
            font-size: 18px;
            letter-spacing: normal;
            line-height: 1.81;
            color: rgb(247, 247, 247);
            margin: 20px 0;
        }

        & a {
            font-family: "GT-Haptik-Medium";
            font-size: 18px;
            letter-spacing: normal;
            line-height: 1.81;
            text-decoration: none;
            color: rgb(247, 247, 247);
            position: relative;
            padding: 14px 0 0;
            & span.custom-arrow{
                border: 1px solid #fff;
                border-radius: 50%;
                /* padding: 20px; */
                height: 50px;
                width: 50px;
                position: absolute;
                right: -110px;
                top: 1px;
            }
            & span.custom-arrow:before {
                content: "";
                width: 56px;
                height: 2px;
                background: #fff;
                position: absolute;
                top: 50%;
                margin-top: -1px;
                right: 65%;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
            }
        
            & span.custom-arrow:after {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 0 5px 5px;
                border-color: transparent transparent transparent #fff;
                position: absolute;
                top: 50%;
                margin-top: -5px;
                right: 55%;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
            }
        }
        &  .movingBg {
            height: 4px;
            width: 40px;
            background: rgb(255, 255, 255);
            position: absolute;
            left: 12%;
            bottom: 90px;
            transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;
        }
    }

    & ul.custom-changes {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 100px;

        & li button {
            background: transparent;
            border: none;
            color: #fff;
        }
    }

}


section.contact-module-main-wrap.one {
    background-image: url("../assets/contact/1.jpg");
}


section.contact-module-main-wrap.two {
    background-image: url("../assets/contact/2.jpg");
}


section.contact-module-main-wrap.three {
    background-image: url("../assets/contact/3.jpg");
}


section.contact-module-main-wrap.four {
    background-image: url("../assets/contact/4.jpg");
}











@media (max-width: 991px){

    section.contact-module-main-wrap .content {
        padding: 100px 0px 0px;
    }

  


}