section.contact-module-main-wrap {
    background: url(src/assets/contact/1.jpg);
    height: 100vh;
    position: relative;
    -webkit-transition: all 1s cubic-bezier(0.58, 0, 0.06, 0.98);
    transition: all 1s cubic-bezier(0.58, 0, 0.06, 0.98);

    & .content {
        padding: 100px 50px;

        & h1 {
            color: rgb(247, 247, 247);
            display: block;
            font-family: "GT-Haptik-Medium";
            font-size: 55px;
            font-weight: 400;
            height: 68.2917px;
            letter-spacing: -2px;
            line-height: 63.25px;

            & span {
                font-family: ui-monospace;
                font-style: italic;
                font-weight: bolder;
                font-size: 70px;
            }
        }

        & p {
            font-family: "GT-Haptik-Medium";
            font-size: 18px;
            letter-spacing: normal;
            line-height: 1.81;
            color: rgb(247, 247, 247);
        }

        & a {
            font-family: "GT-Haptik-Medium";
            font-size: 18px;
            letter-spacing: normal;
            line-height: 1.81;
            text-decoration: none;
            color: rgb(247, 247, 247);
        }
        &  .movingBg {
            height: 4px;
            width: 40px;
            background: rgb(255, 225, 0);
            position: absolute;
            left: 0;
            bottom: 90px;
            transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;
        }
    }

    & ul.custom-changes {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 100px;

        & li button {
            background: transparent;
            border: none;
            color: #fff;
        }
    }

}


section.contact-module-main-wrap.one {
    background: url(src/assets/contact/1.jpg);
}


section.contact-module-main-wrap.two {
    background: url(src/assets/contact/2.jpg);
}


section.contact-module-main-wrap.three {
    background: url(src/assets/contact/3.jpg);
}


section.contact-module-main-wrap.four {
    background: url(src/assets/contact/4.jpg);
}





