.bg-wrapper{
    background-image: url(/src/assets/home-revolve-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin-top: -50px;
}





.ahsan {
    padding: 100px 0;
}