* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GT-Haptik-Bold';
    src: url('./assets/fonts/GT-Haptik-Bold.ttf') format('ttf'),
         url('./assets/fonts/GT-Haptik-Bold.woff') format('woff'),
         url('./assets/fonts/GT-Haptik-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gt-Haptik-Medium";
    src: url("./assets/fonts/GT-Haptik-Regular.ttf") format('ttf'),
         url('./assets/fonts/GT-Haptik-Regular.woff') format('woff'),
         url('./assets/fonts/GT-Haptik-Regular.woff2') format('woff2');
}

body {
    font-family: 'GT-Haptik-Bold', sans-serif;
}



.contentWrapper {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}